.App {
    text-align: center;
    box-sizing: border-box;
    height: 90vh;
}

.Header-container {
    padding: 30px;
}

.Main-content {
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 2fr repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 10px;
}

.Footer {
    padding-top: 50px;
}
